.tw-container {
  width: 100%
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px
  }
}

.tw-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.tw-pointer-events-none {
  pointer-events: none
}

.tw-absolute {
  position: absolute
}

.tw-relative {
  position: relative
}

.tw-inset-y-0 {
  top: 0px;
  bottom: 0px
}

.-tw-right-24 {
  right: -6rem
}

.tw-z-10 {
  z-index: 10
}

.tw-z-30 {
  z-index: 30
}

.tw-order-3 {
  order: 3
}

.tw-order-2 {
  order: 2
}

.tw--m-4 {
  margin: -1rem
}

.tw-m-0 {
  margin: 0px
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.tw-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.tw-my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem
}

.tw-ml-3 {
  margin-left: 0.75rem
}

.tw-mt-2 {
  margin-top: 0.5rem
}

.tw--mr-1 {
  margin-right: -0.25rem
}

.tw-mt-4 {
  margin-top: 1rem
}

.tw-mt-10 {
  margin-top: 2.5rem
}

.tw-ml-16 {
  margin-left: 4rem
}

.-tw-mr-5 {
  margin-right: -1.25rem
}

.tw-mt-3 {
  margin-top: 0.75rem
}

.tw-mt-5 {
  margin-top: 1.25rem
}

.tw-mb-16 {
  margin-bottom: 4rem
}

.tw-ml-4 {
  margin-left: 1rem
}

.tw-mb-1 {
  margin-bottom: 0.25rem
}

.tw-mb-3 {
  margin-bottom: 0.75rem
}

.tw-ml-2 {
  margin-left: 0.5rem
}

.tw-mr-3 {
  margin-right: 0.75rem
}

.tw-ml-auto {
  margin-left: auto
}

.tw-mr-1 {
  margin-right: 0.25rem
}

.tw-ml-1 {
  margin-left: 0.25rem
}

.tw-mt-6 {
  margin-top: 1.5rem
}

.tw-block {
  display: block
}

.tw-inline-block {
  display: inline-block
}

.tw-flex {
  display: flex
}

.tw-inline-flex {
  display: inline-flex
}

.tw-grid {
  display: grid
}

.tw-hidden {
  display: none
}

.tw-h-6 {
  height: 1.5rem
}

.tw-h-8 {
  height: 2rem
}

.tw-h-10 {
  height: 2.5rem
}

.tw-h-full {
  height: 100%
}

.tw-h-56 {
  height: 14rem
}

.tw-h-64 {
  height: 16rem
}

.tw-h-24 {
  height: 6rem
}

.tw-h-1 {
  height: 0.25rem
}

.tw-h-4 {
  height: 1rem
}

.tw-h-5 {
  height: 1.25rem
}

.tw-w-0 {
  width: 0px
}

.tw-w-6 {
  width: 1.5rem
}

.tw-w-full {
  width: 100%
}

.tw-w-auto {
  width: auto
}

.tw-w-10 {
  width: 2.5rem
}

.tw-w-48 {
  width: 12rem
}

.tw-w-44 {
  width: 11rem
}

.tw-w-4 {
  width: 1rem
}

.tw-w-5 {
  width: 1.25rem
}

.tw-max-w-7xl {
  max-width: 80rem
}

.tw-max-w-2xl {
  max-width: 42rem
}

.tw-flex-1 {
  flex: 1 1 0%
}

.tw-flex-shrink-0 {
  flex-shrink: 0
}

.tw-flex-grow {
  flex-grow: 1
}

.tw-translate-x-1\/2 {
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-cursor-pointer {
  cursor: pointer
}

.tw-list-none {
  list-style-type: none
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.tw-flex-col {
  flex-direction: column
}

.tw-flex-wrap {
  flex-wrap: wrap
}

.tw-items-center {
  align-items: center
}

.tw-justify-center {
  justify-content: center
}

.tw-justify-between {
  justify-content: space-between
}

.tw-gap-2 {
  gap: 0.5rem
}

.tw-gap-4 {
  gap: 1rem
}

.tw-gap-1 {
  gap: 0.25rem
}

.tw-gap-y-6 {
  row-gap: 1.5rem
}

.tw-space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse))
}

.tw-space-x-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2.5rem * var(--tw-space-x-reverse));
  margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.tw-space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.tw-overflow-hidden {
  overflow: hidden
}

.tw-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.tw-rounded-lg {
  border-radius: 0.5rem
}

.tw-rounded-md {
  border-radius: 0.375rem
}

.tw-rounded-full {
  border-radius: 9999px
}

.tw-border {
  border-width: 1px
}

.tw-border-0 {
  border-width: 0px
}

.tw-border-2 {
  border-width: 2px
}

.tw-border-b-2 {
  border-bottom-width: 2px
}

.tw-border-r-2 {
  border-right-width: 2px
}

.tw-border-t {
  border-top-width: 1px
}

.tw-border-solid {
  border-style: solid
}

.tw-border-transparent {
  border-color: transparent
}

.tw-border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity))
}

.tw-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.tw-border-opacity-60 {
  --tw-border-opacity: 0.6
}

.tw-bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity))
}

.tw-bg-indigo-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 48 163 / var(--tw-bg-opacity))
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.tw-bg-transparent {
  background-color: transparent
}

.tw-bg-indigo-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity))
}

.tw-bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}

.tw-bg-indigo-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity))
}

.tw-object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.tw-object-center {
  -o-object-position: center;
     object-position: center
}

.tw-p-2 {
  padding: 0.5rem
}

.tw-p-4 {
  padding: 1rem
}

.tw-p-6 {
  padding: 1.5rem
}

.tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.tw-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.tw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.tw-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.tw-py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.tw-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.tw-px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.tw-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.tw-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.tw-py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem
}

.tw-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.tw-py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.tw-px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.tw-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.tw-pb-8 {
  padding-bottom: 2rem
}

.tw-pt-6 {
  padding-top: 1.5rem
}

.tw-pt-16 {
  padding-top: 4rem
}

.tw-pb-80 {
  padding-bottom: 20rem
}

.tw-pr-3 {
  padding-right: 0.75rem
}

.tw-text-center {
  text-align: center
}

.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.tw-text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.tw-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.tw-text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.tw-text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.tw-font-medium {
  font-weight: 500
}

.tw-font-semibold {
  font-weight: 600
}

.tw-font-extrabold {
  font-weight: 800
}

.tw-font-black {
  font-weight: 900
}

.tw-uppercase {
  text-transform: uppercase
}

.tw-leading-8 {
  line-height: 2rem
}

.tw-leading-6 {
  line-height: 1.5rem
}

.tw-leading-relaxed {
  line-height: 1.625
}

.tw-leading-none {
  line-height: 1
}

.tw-tracking-wide {
  letter-spacing: 0.025em
}

.tw-tracking-tight {
  letter-spacing: -0.025em
}

.tw-tracking-widest {
  letter-spacing: 0.1em
}

.tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.tw-text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity))
}

.tw-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.tw-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.tw-text-indigo-700 {
  --tw-text-opacity: 1;
  color: rgb(67 56 202 / var(--tw-text-opacity))
}

.tw-text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.tw-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.tw-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.tw-text-indigo-500 {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity))
}

.tw-no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none
}

.tw-decoration-inherit {
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit
}

.tw-decoration-current {
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor
}

.tw-decoration-transparent {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent
}

.tw-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.tw-shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:tw-bg-indigo-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(238 242 255 / var(--tw-bg-opacity))
}

.hover\:tw-bg-indigo-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity))
}

.hover\:tw-bg-indigo-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(67 56 202 / var(--tw-bg-opacity))
}

.hover\:tw-bg-indigo-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(199 210 254 / var(--tw-bg-opacity))
}

.hover\:tw-text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.focus\:tw-outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.focus\:tw-ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus\:tw-ring-white:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity))
}

@media (prefers-color-scheme: dark) {
  .dark\:tw-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
  }

  .dark\:tw-text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }
}

@media (min-width: 640px) {
  .sm\:tw-static {
    position: static
  }

  .sm\:tw-left-1\/2 {
    left: 50%
  }

  .sm\:tw-top-0 {
    top: 0px
  }

  .sm\:tw-order-2 {
    order: 2
  }

  .sm\:tw-order-3 {
    order: 3
  }

  .sm\:tw-mx-auto {
    margin-left: auto;
    margin-right: auto
  }

  .sm\:tw-mt-0 {
    margin-top: 0px
  }

  .sm\:tw-ml-3 {
    margin-left: 0.75rem
  }

  .sm\:tw--mr-2 {
    margin-right: -0.5rem
  }

  .sm\:tw-mt-12 {
    margin-top: 3rem
  }

  .sm\:tw-mt-5 {
    margin-top: 1.25rem
  }

  .sm\:tw-mt-8 {
    margin-top: 2rem
  }

  .sm\:tw-ml-4 {
    margin-left: 1rem
  }

  .sm\:tw-ml-auto {
    margin-left: auto
  }

  .sm\:tw-flex {
    display: flex
  }

  .sm\:tw-h-10 {
    height: 2.5rem
  }

  .sm\:tw-h-72 {
    height: 18rem
  }

  .sm\:tw-h-32 {
    height: 8rem
  }

  .sm\:tw-w-auto {
    width: auto
  }

  .sm\:tw-max-w-xl {
    max-width: 36rem
  }

  .sm\:tw-max-w-lg {
    max-width: 32rem
  }

  .sm\:tw-translate-x-8 {
    --tw-translate-x: 2rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }

  .sm\:tw-flex-row {
    flex-direction: row
  }

  .sm\:tw-items-start {
    align-items: flex-start
  }

  .sm\:tw-justify-start {
    justify-content: flex-start
  }

  .sm\:tw-justify-center {
    justify-content: center
  }

  .sm\:tw-gap-2 {
    gap: 0.5rem
  }

  .sm\:tw-gap-4 {
    gap: 1rem
  }

  .sm\:tw-border-l-2 {
    border-left-width: 2px
  }

  .sm\:tw-border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity))
  }

  .sm\:tw-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }

  .sm\:tw-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
  }

  .sm\:tw-pb-16 {
    padding-bottom: 4rem
  }

  .sm\:tw-pt-24 {
    padding-top: 6rem
  }

  .sm\:tw-pb-40 {
    padding-bottom: 10rem
  }

  .sm\:tw-pl-4 {
    padding-left: 1rem
  }

  .sm\:tw-text-center {
    text-align: center
  }

  .sm\:tw-text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
  }

  .sm\:tw-text-5xl {
    font-size: 3rem;
    line-height: 1
  }

  .sm\:tw-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
  }

  .sm\:tw-text-6xl {
    font-size: 3.75rem;
    line-height: 1
  }

  .sm\:tw-opacity-0 {
    opacity: 0
  }
}

@media (min-width: 768px) {
  .md\:tw-mt-16 {
    margin-top: 4rem
  }

  .md\:tw-mt-5 {
    margin-top: 1.25rem
  }

  .md\:tw-mb-2 {
    margin-bottom: 0.5rem
  }

  .md\:tw-ml-0 {
    margin-left: 0px
  }

  .md\:tw-grid {
    display: grid
  }

  .md\:tw-h-96 {
    height: 24rem
  }

  .md\:tw-h-36 {
    height: 9rem
  }

  .md\:tw-w-1\/3 {
    width: 33.333333%
  }

  .md\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .md\:tw-justify-start {
    justify-content: flex-start
  }

  .md\:tw-gap-x-8 {
    -moz-column-gap: 2rem;
         column-gap: 2rem
  }

  .md\:tw-gap-y-10 {
    row-gap: 2.5rem
  }

  .md\:tw-space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse))
  }

  .md\:tw-space-x-10 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--tw-space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)))
  }

  .md\:tw-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
  }

  .md\:tw-px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }

  .md\:tw-pb-20 {
    padding-bottom: 5rem
  }

  .md\:tw-text-6xl {
    font-size: 3.75rem;
    line-height: 1
  }

  .md\:tw-text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
  }

  .md\:tw-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
}

@media (min-width: 1024px) {
  .lg\:tw-absolute {
    position: absolute
  }

  .lg\:tw-inset-y-0 {
    top: 0px;
    bottom: 0px
  }

  .lg\:tw-right-0 {
    right: 0px
  }

  .lg\:tw-left-1\/2 {
    left: 50%
  }

  .lg\:tw-mx-auto {
    margin-left: auto;
    margin-right: auto
  }

  .lg\:tw-mx-0 {
    margin-left: 0px;
    margin-right: 0px
  }

  .lg\:tw-mt-20 {
    margin-top: 5rem
  }

  .lg\:tw-mb-0 {
    margin-bottom: 0px
  }

  .lg\:tw-ml-auto {
    margin-left: auto
  }

  .lg\:tw-block {
    display: block
  }

  .lg\:tw-flex {
    display: flex
  }

  .lg\:tw-hidden {
    display: none
  }

  .lg\:tw-h-full {
    height: 100%
  }

  .lg\:tw-h-48 {
    height: 12rem
  }

  .lg\:tw-w-full {
    width: 100%
  }

  .lg\:tw-w-1\/2 {
    width: 50%
  }

  .lg\:tw-max-w-2xl {
    max-width: 42rem
  }

  .lg\:tw-max-w-7xl {
    max-width: 80rem
  }

  .lg\:tw-flex-grow-0 {
    flex-grow: 0
  }

  .lg\:tw--translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }

  .lg\:tw-justify-start {
    justify-content: flex-start
  }

  .lg\:tw-gap-y-8 {
    row-gap: 2rem
  }

  .lg\:tw-space-x-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
  }

  .lg\:tw-px-8 {
    padding-left: 2rem;
    padding-right: 2rem
  }

  .lg\:tw-pb-28 {
    padding-bottom: 7rem
  }

  .lg\:tw-pt-40 {
    padding-top: 10rem
  }

  .lg\:tw-pb-48 {
    padding-bottom: 12rem
  }

  .lg\:tw-text-left {
    text-align: left
  }

  .lg\:tw-text-center {
    text-align: center
  }

  .lg\:tw-opacity-100 {
    opacity: 1
  }
}

@media (min-width: 1280px) {
  .xl\:tw-mt-28 {
    margin-top: 7rem
  }

  .xl\:tw-inline {
    display: inline
  }

  .xl\:tw-pb-32 {
    padding-bottom: 8rem
  }
}
